<div class="mobile-navbar">
  <div class="mobile-navbar-content">
    <a href="{% url 'core:dashboard' %}" class="mnc-item">
      <div class="mnc-item-icon">
        <i class="far fa-box-heart"></i>
      </div>
      <div class="mnc-item-text">New Order</div>
    </a>
    <a href="{% url 'core:addfunds' %}" class="mnc-item">
      <div class="mnc-item-icon">
        <i class="ri-exchange-dollar-line"></i>
      </div>
      <div class="mnc-item-text">Add Funds</div>
    </a>

    <!-- <a href="{% url 'core:dashboard' %}" class="mnc-item active">
      <div class="mnc-item-icon">
        <i class="ri-list-check-2"></i>
      </div>
      <div class="mnc-item-text">Services</div>
    </a> -->

    <a href="{% url 'core:account' %}" class="mnc-item active">
      <div class="mnc-item-icon">
        <i class="ri-account-box-fill"></i>
      </div>
      <div class="mnc-item-text">Account</div>
    </a>
  </div>
</div>
<!--<footer>-->
<!--    <div class="telegram-button">-->
<!--        <a href="https://t.me/your_channel" target="_blank" rel="noopener noreferrer">-->
<!--            Join Our Telegram Channel-->
<!--        </a>-->
<!--    </div>-->
<!--</footer>-->

