<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment Orders</h5>
                <button type="button" class="close" style="color: red;" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label>Product name:</label>
                    <input type="text" class="form-control" id="name" readonly="">
                </div>
                <div class="form-group mb-3">
                    <label>Quantity to buy:</label>
                    <input type="number" class="form-control form-control-solid" onchange="totalPayment()" onkeyup="totalPayment()" placeholder="Enter the quantity you want to buy" id="amount">
                    <input type="hidden" value="39" readonly="" class="form-control" id="modal-id">
                    <input type="hidden" value="160540" readonly="" class="form-control" id="price">
                    <input class="form-control" type="hidden" id="token" value="61dfe17a01b571792477b991d7fed433">
                </div>
                <div class="form-group mb-3" id="showDiscountCode" style="display: none;">
                    <label>Coupon:</label>
                    <input type="text" class="form-control" onchange="totalPayment()" onkeyup="totalPayment()" placeholder="Enter your coupon" id="coupon">
                </div>
                <div class="mb-3 text-right"><button id="btnshowDiscountCode" onclick="showDiscountCode()" class="btn btn-danger btn-sm">Enter coupon</button></div>
                <div class="mb-3 text-center" style="font-size: 20px;">Total amount to pay: <b id="total" style="color:red;">$858.54</b></div>
                <div class="text-center mb-3">
                    <button type="submit" id="btnBuy" onclick="buyProduct()" class="btn btn-primary btn-block"><i class="fas fa-credit-card mr-1"></i>Pay</button>
                </div>
            </div>
        </div>
</body>
</html>