{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orders</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
				  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
				  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
				  <![endif]-->

    <!-- CDN CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <!-- //.CDN CSS Files -->

    <link rel="stylesheet" type="text/css" href="{% static 'cdn.mypanel.link/hj0v8i/0gqde1af730nbh57.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cdn.mypanel.link/hj0v8i/15xb4ubsywrfrzg5.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.mypanel.link/libs/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mypanel.link/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mypanel.link/global/c3gyq3shygmabbke.css">

    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
  />
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <link
    href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  />
  <!-- //.CDN CSS Files -->

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'cdn.mypanel.link/hj0v8i/0gqde1af730nbh57.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'cdn.mypanel.link/hj0v8i/15xb4ubsywrfrzg5.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.mypanel.link/libs/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.mypanel.link/css/font-awesome/css/all.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.mypanel.link/global/c3gyq3shygmabbke.css"
  />

  <!-- iboost static files -->
  <link
    rel="stylesheet"
    href="{% static 'assets/templates/basic/master/css/vendor/bootstrap.min.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'assets/templates/basic/css/custom.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static 'assets/templates/basic//css/bootstrap-fileinput.css' %}"
  />
  <link
    rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <style>
    body{
        background-color:rgb(12, 6, 22);
    }
  </style>
</head>

<body>
    <div class="dashboard-root">
        <div class="dashboard-root">
            <button class="sidebar-toggle" id="sidebar-toggle" onclick="dashboardMenuToggle()">
                <i class="ri-menu-line menu-bar"></i>
                <i class="ri-close-line close-i"></i>
            </button>
            {% include 'layouts/sidebar.html' %}
            <div id="header" class="d-header">
                <div class="container-fluid">
                    <div class="row align-items-center head-row">
                        <div class="col-auto d-none d-md-block d-xxl-none col-item">
                            <div style="width:56px;"></div>
                        </div>
                        <div class="col col-page-title col-item">
                            <h1 class="page-title" id="pageTitleHeader"style="margin-left: 10px;">Socials Mall</h1>
                        </div>
                        <!-- col-item -->
                        <!--
                            <div class="col-auto col-item">
                                <div class="d-dropdown">
                                    <a class="btn" type="button" id="changeCurrencyDd">
                                        <div class="icon c-2">
                                            <i class="ri-notification-3-line"></i>
                                        </div>
                                        <div class="content">
                                            <div class="title">
                                                <span>Updates</span>
                                            </div>
                                            <div class="info">
                                                See Service Updates
                                            </div>
                                        </div>
                                    </a>
                                </div> 
                            </div> col-item -->
                        <div class="col-auto col-item">
                            <div class="d-dropdown">
                                <a href="{% url 'core:account' %}">
                                    <button class="btn" type="button" id="changeCurrencyDd">
                                        <div class="icon user-avatar">
                                            <img src="https://res.cloudinary.com/dsnmt7vn1/image/upload/v1670929805/famsup-image/users_avatar_vmgphf.png"
                                                alt="User Avatar">
                                        </div>
                                        <div class="content">
                                            <div class="title">
                                                <span>@{{request.user.username}}</span>
                                                <i class="ri-checkbox-circle-line p-color"></i>
                                            </div>
                                            <div class="info d-flex align-items-center">
                                                See Dashboard
                                                <i class="ri-arrow-right-line ms-2"></i>
                                            </div>
                                        </div>
                                    </button>
                                </a>
                            </div><!-- ./Updates -->
                        </div><!-- col-item -->
                    </div>
                </div>
            </div><!-- ./d-header -->
            <!-- Main variables *content* -->
            <main class="app-content">
                <div id="PageTitle">Orders</div>
                <div class="container-fluid">
                    <section class="dashboard-head-wrapper">
                        <div class="dashboard-head card-border">
                            <img src="https://res.cloudinary.com/dsnmt7vn1/image/upload/v1670934834/famsup-image/cargo_zko87k_qky9hd.png"
                                class="mascot-img">
                            <div class="dhead-body">
                                <h2 class="title">
                                    View your Recent Orders
                                </h2>

                            </div>
                        </div>
                    </section>

                    <section class="op-orders-wrapper">

                        {% if not orders %}
                            <div style="display: flex; flex-direction: row; justify-content: center; border: none; color: white;">
                                <h3>You have no orders!</h3>
                            </div>
                        {% endif %}
                        
                        {% if orders %}
                        <div class="card card-border op-card" data-is-open="false">

                            {% for i in orders %}
                            <div class="card-body">
                                <div class="op-card--top">
                                    <div class="row align-items-center">
                                        <div class="col-lg-auto col-md-auto mb-3 mb-lg-0">
                                            <div class="op-stats op-id op-stats-sm primary">
                                                ID {{i.orderid}}
                                            </div>
                                        </div>
                                        <!-- ./col (ID)  -->
                                        <div class="col-lg-3 col-md mb-3 mb-lg-0">
                                            <!-- <h3 class="op-service-title"> {{i.service}} -->
                                            <!-- </h3> -->
                                        </div>
                                        <!-- ./col (service title) -->
                                        <div class="col-lg-3 mb-3 mb-lg-0 d-none d-md-block">
                                            <a href="{{i.link}}"
                                                target="_blank"
                                                class="orders-nav-link op-search-box op-order-link mb-0">
                                                <div class="icon">
                                                    <i class="ri-share-box-fill"></i>
                                                </div>
                                                <div class="link">
                                                    {{i.link}}</div>
                                            </a>
                                        </div>
                                        <!-- ./col (service title) -->
                                        <div class="col-lg mb-3 mb-lg-0">
                                            <div class="op-date time_format">{{ i.date|date:"Y-m-d" }}</div>
                                        </div>
                                        <!-- {% if i.refil_status %}
                                        <div class="col-lg-auto col-6 col-md-6">
                                            <div class="op-stats secondary"><button href="#">Refil</button> </div>
                                        </div>
                                        {% endif %} -->
                                        <div class="col-lg-auto col-6 col-md-6">
                                            <div class="op-stats secondary">{{i.status}}</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./op-card--top -->
                               
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
               

                    </section>
                </div>
            </main>
            {% include 'layouts/mobilenav.html' %}
        </div>


        <script src="//code.tidio.co/vh097nkowxj4ldchs3cipszlnyr3ww24.js" async></script>

        <script type="text/javascript" src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/global/aknio8ec1fpphc0p.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/global/nfos6j9mo1on7ksz.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/global/kkhzuhu51psr3ey0.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/global/a2wrrjwy29x3cr2s.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/hj0v8i/ui3mumnxetcz5hl2.js">
        </script>
        <script type="text/javascript" src="https://cdn.mypanel.link/hj0v8i/1fkio8uegwk8gm3h.js">
        </script>
        <script type="text/javascript">
            window.modules.layouts = { "theme_id": 1, "auth": 1, "live": true, "csrftoken": "3Gl2_gcOPaeh762pXvH_LazrqLZ_lV7ETrSpsqyPDwaKJx3MfkRTlJi13PAUiNJ786_R_EjsKooog_nK3cl8NQ==" };
        </script>
        <script type="text/javascript">
            window.modules.siteOrdersList = { "pageUrl": "\/orders" };
        </script>
        <script type="text/javascript">
        </script>

        <!-- Essientials Js -->


        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- swiper.js -->
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>



        <script>
            const serviceQuery = new URLSearchParams(window.location.search);
            if (serviceQuery.get('service_id') !== null) {
                const service_id = serviceQuery.get('service_id');
                const services = window.modules.siteOrder.services;

                const cat_id = services[service_id].cid;

                var event = document.createEvent('HTMLEvents');

                setTimeout(() => {
                    console.log(cat_id);
                    $('.select-option[data-value="' + cat_id + '"]').click();
                }, 1000);

                setTimeout(() => {
                    $('.select-option[data-value="' + service_id + '"]').click();

                    event.initEvent('change', true, false);
                    serviceSelect.dispatchEvent(event);
                }, 1500);
            }
        </script>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://res.cloudinary.com/dsnmt7vn1/raw/upload/v1670934647/js/main_fiiz64_cnjvz4.js"></script>

        <script src="https://res.cloudinary.com/dsnmt7vn1/raw/upload/v1670934737/js/howler_rqlpez_q5iapf.js"></script>

        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

        <script>

            const testimonialComments = new Swiper("#testimonialComments", {
                loop: true,
                spaceBetween: 10,
                slidesPerView: 1,
                allowTouchMove: false,
                autoHeight: true
            });
            const testimonialMember = new Swiper('#testimonialMember', {
                loop: true,
                slidesPerView: 3,
                slideToClickedSlide: true,
                centeredSlides: true,
                autoplay: {
                    delay: 3000,
                },
                breakpoints: {
                    740: {
                        slidesPerView: 5,
                    }
                },
                on: {
                    slideChange: function () {
                        testimonialComments.slideTo(this.realIndex + 1)
                    }
                }
            });
        </script>
        <script>
	var beamer_config = {
		product_id : 'HIoQFNaK58134' //DO NOT CHANGE: This is your product code on Beamer
	};
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
            integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $('.slickSlider').slick({
                dots: true,
                infinite: true,
                autoplay: true,
                arrows: false,
                speed: 300,
                slidesToShow: 2,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });

        </script>
        <script
        src="{% static 'assets/templates/basic/master/js/vendor/jquery-3.6.0.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/bootstrap.bundle.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/bootstrap-toggle.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/jquery.slimscroll.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/jquery.nice-select.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      <script
        src="{% static 'assets/templates/basic/master/js/nicEdit.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/prism.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/vendor/select2.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      
      <script
        src="{% static 'assets/templates/basic/master/js/app.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      <script
        src="{% static 'assets/templates/basic//js/bootstrap-fileinput.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      <link
        rel="stylesheet"
        href="{% static 'assets/admin/css/iziToast.min.css' %}"
      />
      <script
        src="{% static 'assets/admin/js/iziToast.min.js' %}"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      <script type="0c2404225431003dc462fdb2-text/javascript">
        "use strict";
            function notify(status,message) {
                iziToast[status]({
                    message: message,
                    position: "topRight"
                });
            }
      </script>
      <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=UA-211452243-1"
        type="0c2404225431003dc462fdb2-text/javascript"
      ></script>
      <script type="0c2404225431003dc462fdb2-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
      
        gtag("config", "UA-211452243-1");
      </script>
      <script type="0c2404225431003dc462fdb2-text/javascript">
        (function($,document){
            "use strict";
            bkLib.onDomLoaded(function() {
                $( ".nicEdit" ).each(function( index ) {
                    $(this).attr("id","nicEditor"+index);
                    new nicEditor({fullPanel : true}).panelInstance('nicEditor'+index,{hasPanel : true});
                });
            });
            $( document ).on('mouseover ', '.nicEdit-main,.nicEdit-panelContain',function(){
                $('.nicEdit-main').focus();
            });
        })(jQuery, document);
      </script>
      <script type="0c2404225431003dc462fdb2-text/javascript">
        (function ($) {
            "use strict";
      
            $('.detailsBtn').on('click', function () {
                var modal = $('#detailsModal');
                var details = $(this).data('details');
      
                modal.find('#details').html(details);
                modal.modal('show');
            });
      
            $('.orderBtn').on('click', function () {
                var modal = $('#orderModal');
                var url = $(this).data('url');
                var price_per_k = $(this).data('price_per_k');
                var min = $(this).data('min');
                var max = $(this).data('max');
                var service = $(this).data('serviceid');
                var servicedescri = $(this).data('servicedescri');
                // console.log(url);
                //Calculate total price
                $(document).on("keyup", "#quantity", function() {
                    var quantity = $('#quantity').val()
                    var total_price = (price_per_k/1000)*quantity;
                    modal.find('input[name=price]').val("₦" + total_price.toFixed(2));
                });
      
                modal.find('form').attr('action', url);
                modal.find('input[name=quantity]').attr('min', min).attr('max', max);
                modal.find('input[name=min]').val(min);
                modal.find('input[name=max]').val(max);
                modal.find('input[name=serviceid]').val(service);
                modal.find('input[name=servicedescri]').val(servicedescri);
                modal.modal('show');
            });
      
            //Scroll to paginate position
            var pathName = document.location.pathname;
            window.onbeforeunload = function () {
                var scrollPosition = $(document).scrollTop();
                sessionStorage.setItem("scrollPosition_" + pathName, scrollPosition.toString());
            }
            if (sessionStorage["scrollPosition_" + pathName]) {
                $(document).scrollTop(sessionStorage.getItem("scrollPosition_" + pathName));
            }
        })(jQuery);
      </script>
      <script
        type="0c2404225431003dc462fdb2-text/javascript"
        src="https://apiv2.popupsmart.com/api/Bundle/382489"
        async
      ></script>
      <script
        src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}"
        data-cf-settings="0c2404225431003dc462fdb2-|49"
        defer=""
      ></script>
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>
</body>

</html>