
{% load bootstrap4 %}

{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center text-uppercase mb-3">
              <b>
                <h1>Reset your password</h1>
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                    {{form.as_p}}
                    {%csrf_token%}
                    <p><input type="submit" value="Changemypassword"/></p>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.Pleas erequest a new password reset.</p>
                {% endif %}
              </b>
            </h4>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}