{% load static %}
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title> SocialsMall - Forgot Password</title>
<meta name="title" Content="Iboost.ng - Forgot Password">
<meta name="description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta name="keywords" content="tiktok,instagram followers,buy instagram followers,instagram likes,buy instagram likes,buy instagram views,instagram followers nigeria,buy followers in nigeria">
<link rel="shortcut icon" href="{% static 'assets/images/logoIcon/favico.png' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'assets/images/logoIcon/logo.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Slab.ng - Forgot Password">
<meta itemprop="name" content="Slab.ng - Forgot Password">
<meta itemprop="description" content="">
<meta itemprop="image" content="{% static 'assets/images/seo/617e7c58c2d741635679320.png' %}">
<meta property="og:type" content="website">
<meta property="og:title" content="Iboost.ng">
<meta property="og:description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta property="og:image" content="{% static 'assets/images/seo/617e7c58c2d741635679320.png' %}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:url" content="">
<meta name="twitter:card" content="summary_large_image">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/fontawesome-all.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/magnific-popup.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/nice-select.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/swiper.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/odometer.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/themify.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/animate.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/jquery.animatedheadline.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/style.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic//css/bootstrap-fileinput.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/color.php?color=054944&amp;secondColor=138D87' %}">

<script type="9964f1054190c8bf69965c14-text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25397861.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=AW-984143866" type="9964f1054190c8bf69965c14-text/javascript"></script>
<script type="9964f1054190c8bf69965c14-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-984143866');
</script>

<script type="9964f1054190c8bf69965c14-text/javascript">
    window.nudgify = {data: {"product":{"stock":null,"image":null,"id":null}}};
    (function(w){
        var k="nudgify",n=w[k]||(w[k]={});
        n.uuid="04be8603-a291-4191-895a-21ff9c776c92";
        var d=document,s=d.createElement("script");
        s.src="https://pixel.nudgify.com/pixel.js";
        s.async=1;
        s.charset="utf-8";
        d.getElementsByTagName("head")[0].appendChild(s)
    })(window)
</script>


<script type="9964f1054190c8bf69965c14-text/javascript" nonce="{place_your_nonce_value_here}" src="https://desk.zoho.com/portal/api/web/inapp/696101000000555066?orgId=772502627" defer></script>

</head>
<body>


<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>


<section class="banner-section inner-banner-section" style="padding-top:100px !important; padding-bottom:30px !important;>
    <div class=" banner-shape-one">
<img src="{% static 'assets/templates/basic/images/banner/icon-1.png' %}" " alt="shape">
</div>
<div class="banner-shape-two">
<img src="{% static 'assets/templates/basic/images/banner/icon-2.png' %}" " alt="shape">
</div>
<div class="banner-shape-three">
<img src="{% static 'assets/templates/basic/images/banner/icon-3.png' %}" " alt="shape">
</div>
<div class="container">
<figure class="figure highlight-background highlight-background--lean-right">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1291px" height="480px">
<defs>
<linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
<stop offset="28%" stop-color="rgb(244,245,250)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(252,253,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" opacity="0.1" fill="rgb(0, 0, 0)" d="M480.084,0.001 L1290.991,0.001 L810.906,831.000 L-0.000,831.000 L480.084,0.001 Z" />
<path fill="url(#PSgrad_0)" d="M480.084,0.001 L1290.991,0.001 L810.906,831.000 L-0.000,831.000 L480.084,0.001 Z" />
</svg>
</figure>
<div class="row align-items-center justify-content-center" style="min-height:30px !important;">
<div class="col-lg-12 text-center">
<div class="banner-content">
<h2 class="title">Forgot Password</h2>








</div>
</div>
</div>
</div>
</section>


<section class="register-section ptb-80">
<div class="register-element-one">
<img src="{% static 'assets/templates/basic/images/round.png' %}" alt="shape">
</div>
<div class="container">
<figure class="figure highlight-background highlight-background--lean-left">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1439px" height="480px">
<defs>
<linearGradient id="PSgrad_1" x1="42.262%" x2="0%" y1="90.631%" y2="0%">
<stop offset="28%" stop-color="rgb(245,246,252)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
<path fill="url(#PSgrad_1)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
</svg>
</figure>
<div class="account-wrapper">
<div class="login-area account-area change-form">
<div class="row m-0 justify-content-center">
<div class="col-lg-8 p-0">
<div class="register-form-area common-form-style bg-one create-account">
<h4 class="title">Reset password</h4>
<form action="" method="POST">
                  {{form.as_p}}
                  <p><input type="submit" value="Send Password Reset Mail"></p>
                  {% csrf_token %}
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="privacy-area privacy-area--style">
<div class="container">
<div class="copyright-area d-flex flex-wrap align-items-center justify-content-center">
<div class="copyright">
<p>Copyright © 2023 All Rights reserved Socialsmall</p>
</div>
</div>
</div>
</div>




<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/templates/basic/js/jquery-3.6.0.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery-migrate-3.0.0.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/bootstrap.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery.magnific-popup.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery.nice-select.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/swiper.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/plugin.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/chart.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/viewport.jquery.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/odometer.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/wow.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/main.js" type="9964f1054190c8bf69965c14-text/javascript"></script>
<script type="9964f1054190c8bf69965c14-text/javascript">
        $('select[name=type]').change(function () {
            $('.my_value').text($('select[name=type] :selected').text());
        }).change();
    </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-211452243-1" type="9964f1054190c8bf69965c14-text/javascript"></script>
<script type="9964f1054190c8bf69965c14-text/javascript">
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag("js", new Date());
                
                  gtag("config", "UA-211452243-1");
                </script>
<link rel="stylesheet" href="{% static 'assets/admin/css/iziToast.min.css">
<script src="{% static 'assets/admin/js/iziToast.min.js" type="9964f1054190c8bf69965c14-text/javascript"></script>
<script type="9964f1054190c8bf69965c14-text/javascript">
"use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>

<script type="9964f1054190c8bf69965c14-text/javascript" src="https://apiv2.popupsmart.com/api/Bundle/382489" async></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="9964f1054190c8bf69965c14-|49" defer=""></script></body>
</html>
